* {
  margin: "0px";
  padding: "0px";
  text-decoration: none !important;
  list-style-type: none !important;
}
.contain {
  padding-top: 50px !important;
  padding-bottom: 100px !important;
}
.card1 {
  margin-top: -70px;
}
a {
  color: #f3001f;
}
.content {
  width: 100%;
}
.contain {
  min-height: 350px;
  border-radius: 0px !important;
}
.qr {
  margin-right: 0;
}
