* {
  margin: "0px";
  padding: "0px";
  text-decoration: none !important;
  list-style-type: none !important;
}
.contain__homepage {
  padding-top: 50px !important;
  padding-bottom: 100px !important;
  min-height: 350px;
  border-radius: 0px !important;
  width: 100% !important;
}
.card1__homepage {
  margin-top: -150px;
}
a {
  color: #f3001f;
}
.content__homepage {
  width: 100% !important;
}
img {
  min-width: 10px;
}
