/* devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
*,
body {
  font-family: "Product Sans";
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
}

.contain {
  border-radius: 24px !important;
  width: 360px;
  display: flex;
  margin: 0 auto;
  min-height: 640px;
}
.conten {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}
.conten h1 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1e272e;
  margin-bottom: 20px;
}

.conten h2 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1e272e;
}

.conten h5 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #292d32;
}
.conten h3 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #747d8c;
}

.conten label {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1e272e;
}
.conten .placeholder {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1e272e;
}
.mobile-text {
  color: #989696b8;
  font-size: 15px;
}
.img__login {
  border: 1px #1da1f2 solid;
  padding: 10px 15px;
  border-radius: 4px;
}
